.skills {
    padding: 50px;
    background-color: #111;
    text-align: center;
}

.skills h2 {
    margin-bottom: 40px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.skill-item {
    background-color: #222;
    padding: 10px 20px;
    border-radius: 5px;
}